/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Inherit letter-spacing and word-spacing */
input,
button,
textarea,
select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
}

/* A elements that don't have a class set */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

/* Default text styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
