.page-ce-element {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header"
        "body";
    grid-gap: var(--spacing-normal);
    background-color: var(--tbeui-color-white);
    padding: var(--spacing-normal);
    border-radius: var(--border-radius-s);
    box-shadow: var(--box-shadow-xs);
}
