:root {
    --tbeui-border-color-default: var(--tbeui-color-font-o-25);
    --tbeui-border-width-default: 1px;
    --tbeui-border-width-m: calc(var(--tbeui-border-width-default) * 2);
    --tbeui-border-default: var(--tbeui-border-width-default) solid var(--tbeui-border-color-default);
    --tbeui-border-m: var(--tbeui-border-width-m) solid var(--tbeui-border-color-default);
}
