:root {
    --tbeui-color-primary: #FFA600;
    --tbeui-color-font: #2d2d30;
    --tbeui-color-font-light: #5e5e60;
    --tbeui-color-font-dark: #111;
    --tbeui-color-white: #fff;
    --tbeui-color-light-grey: #f2f2f2;
    --tbeui-color-middle-grey: #ccc;
    --tbeui-color-warning: #df5454;
}
