:root {
    --tbeui-color-bg: white;

    /* primary */
    --tbeui-color-primary-h: 39;
    --tbeui-color-primary-s: 100%;
    --tbeui-color-primary-l: 50%;
    --tbeui-color-primary: hsl(var(--tbeui-color-primary-h), var(--tbeui-color-primary-s), var(--tbeui-color-primary-l));

    /* font */
    --tbeui-color-font-h: 240;
    --tbeui-color-font-s: 3%;
    --tbeui-color-font-l: 18%;
    --tbeui-color-font: hsl(var(--tbeui-color-font-h), var(--tbeui-color-font-s), var(--tbeui-color-font-l));
    --tbeui-color-font-o-05: hsl(var(--tbeui-color-font-h), var(--tbeui-color-font-s), 95%);
    --tbeui-color-font-o-10: hsl(var(--tbeui-color-font-h), var(--tbeui-color-font-s), 90%);
    --tbeui-color-font-o-25: hsl(var(--tbeui-color-font-h), var(--tbeui-color-font-s), 75%);
    --tbeui-color-font-light: #5e5e60;
    --tbeui-color-font-dark: #111;
    --tbeui-color-white: #fff;
    --tbeui-color-warning: #df5454;
}
