:root {
    --tbeui-icon-a11y: url('/assets/icons/a11y.svg');
    --tbeui-icon-content: url('/assets/icons/content.svg');
    --tbeui-icon-crop: url('/assets/icons/crop.svg');
    --tbeui-icon-dots-vertical: url('/assets/icons/dots-vertical.svg');
    --tbeui-icon-edit-column: url('/assets/icons/edit-column.svg');
    --tbeui-icon-eye: url('/assets/icons/eye.svg');
    --tbeui-icon-link: url('/assets/icons/link.svg');
    --tbeui-icon-pencil: url('/assets/icons/pencil.svg');
    --tbeui-icon-plus: url('/assets/icons/plus.svg');
    --tbeui-icon-toggle-switch: url('/assets/icons/toggle-switch.svg');
    --tbeui-icon-trash: url('/assets/icons/trash.svg');

    /* flags */
    --tbeui-icon-flag-de: url('/assets/icons/flag-de.svg');
}
