:root {
    --tbeui-spacing-base: 1rem;

    --tbeui-spacing-xxxxl: calc(var(--tbeui-spacing-base) * 7.5);    /* 120px */
    --tbeui-spacing-xxxl: calc(var(--tbeui-spacing-base) * 6);       /* 96px */
    --tbeui-spacing-xxl: calc(var(--tbeui-spacing-base) * 4);        /* 64px */
    --tbeui-spacing-xl: calc(var(--tbeui-spacing-base) * 3);         /* 48px */
    --tbeui-spacing-l: calc(var(--tbeui-spacing-base) * 2);          /* 32px */
    --tbeui-spacing-m: calc(var(--tbeui-spacing-base) * 1.5);        /* 24px */
    --tbeui-spacing-ms: calc(var(--tbeui-spacing-base) * 1.25);      /* 20px */
    --tbeui-spacing-normal: var(--tbeui-spacing-base);               /* 16px */
    --tbeui-spacing-s: calc(var(--tbeui-spacing-base) * .5);         /* 8px */
    --tbeui-spacing-xs: calc(var(--tbeui-spacing-base) * .25);       /* 4px */
    --tbeui-spacing-xxs: calc(var(--tbeui-spacing-base) * .125);     /* 2px */
    --tbeui-spacing-1px: 1px;
    --tbeui-spacing-2px: 2px;
}
