:root {
    --tbeui-font-family-text: "Roboto", sans-serif;
    --tbeui-font-family-headline: "Roboto", sans-serif;

    --tbeui-font-size-base: 1rem;
    --tbeui-font-size-xxxxl: calc(var(--tbeui-font-size-base) * 3);
    --tbeui-font-size-xxxl: calc(var(--tbeui-font-size-base) * 2.5);
    --tbeui-font-size-xxl: calc(var(--tbeui-font-size-base) * 2);
    --tbeui-font-size-xl: calc(var(--tbeui-font-size-base) * 1.75);
    --tbeui-font-size-l: calc(var(--tbeui-font-size-base) * 1.5);
    --tbeui-font-size-m: calc(var(--tbeui-font-size-base) * 1.2);
    --tbeui-font-size-normal: calc(var(--tbeui-font-size-base) * 1);
    --tbeui-font-size-s: calc(var(--tbeui-font-size-base) * .875);
    --tbeui-font-size-xs: calc(var(--tbeui-font-size-base) * .75);
    --tbeui-font-size-xxs: calc(var(--tbeui-font-size-base) * .625);

    --tbeui-font-size-headlines: var(--tbeui-font-size-l);

    --tbeui-font-weight-text-normal: 400;
    --tbeui-font-weight-text-bold: 700;
    --tbeui-font-weight-headline: 700;

    --tbeui-line-height-normal: 1.4;
    --tbeui-line-height-s: 1.2;
}
