.fake-icon {
    --fake-icon-color: var(--tbeui-color-font);
    --fake-icon-size: var(--spacing-normal);
    --fake-icon-border-color: var(--fake-icon-color);

    display: block;
    height: var(--fake-icon-size);
    width: var(--fake-icon-size);
    background-color: var(--fake-icon-color);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--fake-icon-border-color);
}

.fake-icon[icon-color="font-light"] {
    --fake-icon-color: var(--tbeui-color-font-light)
}

.fake-icon[icon-color="light-grey"] {
    --fake-icon-color: var(--tbeui-color-light-grey)
}

.fake-icon[border-color="font-light"] {
    --fake-icon-border-color: var(--tbeui-color-font-light);
}
